#root {
  font-family: 'Caslon Graphique';
}
#wave {
  position: relative;
  height: 595px;
  width: 100%;
  background: #666ff0;
}
#wave:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 56.66%;
  height: 180px;
  background-color: white;
  right: -23.7px;
  top: 522.55px;
}
#wave:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 50%;
  height: 155px;
  background-color: #666ff0;
  left: -20px;
  top: 515.45px;
}

.jumbotron {
  position: relative;
  text-align: center;
  top: 200px;
  background-color: #666ff0;
  color: white;
}
.btn {
  width: 160px;
  display: flex;
  margin: auto;
  margin-top: 60px;
  background-color: rgb(255, 185, 33);
  font-size: 20px;
  border-radius: 10px;
  font-weight: 250;
  color:white;
 
}
.gg-arrow-right {
  margin-left: 13px;
  margin-top: 4px;
}
.head {
  font-weight: 600;
}
.navbar {
  position: absolute;
  color: white;
  margin: 0 420px;
}
.nav-link {
  color: white;
  font-size: 19px;
  margin: 15px;
}
.navbar-brand {
  font-family: 'Shadows Into Light', cursive;
  font-size: 45px;
  font-weight: 590;
  color: white;
  margin-right: 60px;
}
.pricing-btn {
  margin-left: 510px;
  padding-left: 50px;
  height: 40px;
  width: 120px;
  padding: auto;
  padding-bottom: 10px;
  display: inline-block;
}
.text-replace {
  margin: 190px auto;
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 120px;
}

.text-box {
  width: 900px;
  height: 600px;
  margin: 120px auto;
  border-radius: 20px;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);

  margin-bottom: 120px;
}
.text-area {
  width: 830px;
  height: 500px;
  position: relative;
  top: 17px;
  font-size: 30px;
  border:none;
  resize: none;
  outline: none;
  left:38px;
  
}
.text-area:empty:before {
  content: attr(placeholder);
  color:gray;
  
}

.search,.replace
{
  border-radius:30px;
  padding:8px;
  font-size:20px;
  outline:none;
  padding-left:12px;
  width:150px;
  margin-left:30px;
  margin-top:20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  border:none;
}

.arrow{
  color:grey;
  display:inline-block;
 
}

.arrow-left
{
  margin-left:280px;
  margin-right:50px;
}

.fa
{
  box-shadow: 0 2px 5.5px rgb(0 0 0 / 0.3);
   padding:10px;
   border-radius:10px;
   margin:12px;
   margin-top:30px;
}
.show
{
  display:inline-block;
}

.hide
{
  display:none;
}
.sidebar
{
  position:relative;
  top:-500px;
  left:330px;
  
}
select
{
  height:35px;
  width:90px;
  border-radius:10px;
  padding:3px;
  margin:20px;
 
  outline:none;
  box-shadow: 0 2px 5.5px rgb(0 0 0 / 0.3);
  border:none;
  color:rgb(56, 56, 56);
  font-size:20px;
  font-weight:700;
  appearance:none;
}
.align-left
{
  text-align:left;
}
.align-right
{
  text-align:right;
}
.align-center
{
  text-align:center;
}
.Default
{
  font-family: 'Caslon Graphique';
}
.Indie-Flower
{
font-family: 'Indie Flower', cursive;
}
.Josefin-Sans
{
font-family: 'Josefin Sans', sans-serif;
}
.Lato
{
font-family: 'Lato', sans-serif;
}
.MonteCarlo
{
font-family: 'MonteCarlo', cursive;
}
.Palette-Mosaic
{
font-family: 'Palette Mosaic', cursive;
}
.Raleway
{
font-family: 'Raleway', sans-serif;
}
.one
{
  font-size:10px;
}
.two
{
  font-size:20px;
}
.three
{
  font-size:30px;
}
.four
{
  font-size:40px;
}
.five
{
  font-size:50px;
}

.btn-tools
{
  width:320px;

  display:inline-block;
  margin:30px;
  background:  white;
  color:grey;
  font-weight:550;
  height:60px;
  border-radius:30px;
  box-shadow: 0 2px 5.5px rgb(0 0 0 / 0.3);
  outline:none;
}
.btn-tools-left
{
   margin-left:550px;
   margin-right:170px;
}
.btn-tools-right
{
   margin-right:450px;
}
.fa-external-link-alt
{
  margin-left:20px;
}
.spd-cal
{
  display:inline-block;
  width : 110px;
  height:110px;
  border-radius:50%;
  text-align: center;
  box-shadow: 0 2px 5.5px rgb(0 0 0 / 0.3);
  padding-top:25px;
  font-size:40px;
  margin:0px 50px;
  font-weight:600;
}
.time
{
  margin-left:680px;
}
.lab
{
  box-shadow:none;
  font-weight:300;
  color:grey;
  font-size:20px;
}


.lab-time
{
  margin-left:680px;
}
.text-area-type{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  margin: auto ;
  margin-bottom:280px;
  width: 900px;
  border-radius:20px;
  height : 90px;
  padding :20px;
}
